.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-color-hero);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/studio/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.background-image {
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;

  color: var(--text-color-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}