:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #2196f3;
    --secondary-accent-color: #188ce8;
    --text-color-darkgrey: #212121;
    --text-color-grey: #757575;
    --text-color-black: #000000;
    --text-color-white: #ffffff;
    --text-color-transparent: rgba(255, 255, 255, 0.6);
    --background-color-dark: #2f303a;
    --background-color-hero: #c4c4c4;
    --background-color-light: #f5f4fa;
    --section-pt: 94px;
    --section-pb: 94px;
    --timimg-function: cubic-bezier(0.4, 0, 0.2, 1);
  }